.background {
  viewport-fill: black;
}

#timeText {
  font-size: 80;
  font-family: System-Bold;
  text-length: 32;
  text-anchor: middle;
  fill: white;
}

#period {
  font-size: 40;
  font-family: System-Bold;
  text-length: 32;
  text-anchor: middle;
  fill: white;
}

#monthText {
  font-size: 20;
  font-family: System-Bold;
  text-length: 32;
  text-anchor: middle;
  fill: white;
}

#dateText {
  font-size: 40;
  font-family: System-Bold;
  text-length: 32;
  text-anchor: middle;
  fill: white;
}

#hrDisp {
  font-size: 20;
  font-family: System-Bold;
  text-length: 32;
  text-anchor: middle;
  fill: white;
}

#heart{
  fill:red;
  width:30;
  height:30;
}

